pkgbase = lean-ctx
	pkgdesc = Context Engineering Layer for AI Coding — 34 intelligent tools, 8 read modes, 90+ shell patterns, neural token optimization, persistent knowledge, multi-agent orchestration. Reduces AI costs by 60-99%.
	pkgver = 3.1.3
	pkgrel = 1
	url = https://leanctx.com
	arch = x86_64
	license = MIT
	makedepends = cargo
	makedepends = gcc
	depends = gcc-libs
	source = lean-ctx-3.1.3.tar.gz::https://github.com/yvgude/lean-ctx/releases/download/v3.1.3/lean-ctx-3.1.3-source.tar.gz
	sha256sums = 0915cbfff94286f30eb76238db1fb3b36ab939b1b15139296c9eecf06892c476

pkgname = lean-ctx
